[submodule "StormWISE_TMDL_Engine"]
	path = StormWISE_TMDL_Engine
	url = git@github.com:amcgarity/StormWISE_TMDL_Engine.git
[submodule "Arts_Python_Tools"]
	path = Arts_Python_Tools
	url = git@github.com:amcgarity/Arts_Python_Tools.git
[submodule "ampl.linux64"]
	path = ampl.linux64
	url = git@github.com:amcgarity/ampl.linux64.git
[submodule "ampl.mswin64"]
	path = ampl.mswin64
	url = git@github.com:amcgarity/ampl.mswin64.git
